/* G-Fonts */

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

#headingText{
    color: rgb(0, 179, 255);
    font-size: 75px;
    font-family: 'Berkshire Swash', cursive;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.rotate{
    animation: rotate 3s linear  infinite running;
}
article:hover{
    transition: all 0.8s linear;
    transform: translate(10px,5px);
    box-shadow: -3px -3px 10px rgb(187, 187, 187);
}
#selection h4,#budgetRow h4{
    font-family: 'Berkshire Swash', cursive;
    color: rgb(0, 179, 255);
    font-size: 30px;
    text-underline-offset: 10px;
}
input[type = 'number']{
    outline: none;
}
input[type = 'number']::-webkit-inner-spin-button{
    appearance: none;
}
#budgetRow button{
    background-color: rgb(0, 179, 255);
}

footer p{
    cursor: pointer;
}